src/main/mule/batch-api-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<flow name="batch-api-implementation-main" doc:id="77a39c15-d7bc-4e48-9ada-ff444b9bf342" >
		<flow-ref doc:name="batch-api-implementation-status-check-subflow" doc:id="778db385-2c6c-4ee6-beee-27ae0a1715c2" name="batch-api-implementation-status-check-subflow"/>
		<validation:is-false doc:name="Is Batch Running?" doc:id="39140f9c-fd20-4bcf-8f6c-7777abef9a82" expression="#[(payload.status == Mule::p('batch.status.running'))]"/>
		<os:store doc:name="Update Job Status To Running" doc:id="466c71a3-bf26-4c20-ba74-62aa54f5ecc9" key="${batch.status.key}">
			<os:value ><![CDATA[#[transformations::common::setBatchStatusToRunning()]]]></os:value>
		</os:store>
		<vm:publish doc:name="Batch Execution Queue" doc:id="8f2023a7-b0a6-4215-968f-5c464c33256f" config-ref="VM_Config" sendCorrelationId="ALWAYS" queueName="${batch.execution.queue}"/>
		<ee:transform doc:name="payload /json" doc:id="826a1bf2-a84d-437e-bbe0-99050d6ef4bd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Batch Execution started "
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="batch-api-implementationFlow" doc:id="4aaffd2c-5515-44fa-ac6a-252f9ed6dc2e" >
		<vm:listener doc:name="Listener" doc:id="6be11d80-39b0-4fe4-8ddd-8b58182577bb" config-ref="VM_Config" queueName="${batch.execution.queue}"/>
	</flow>
	<sub-flow name="batch-api-implementation-status-check-subflow" doc:id="69de54db-aebf-4cca-92c1-8ec1352d245e" >
		<os:retrieve doc:name="Batch Status" doc:id="08ae2c4a-f9f4-4b79-9d3f-9b394ec95208" key="${batch.status.key}" objectStore="Batch_Error_Object_store">
			<os:default-value ><![CDATA[#[{
	"status": "",
	"lastRun": ""
}]]]></os:default-value>
		</os:retrieve>
		<logger level="INFO" message="Batch Status #[payload]" category="${api.logger.package}"/>
	</sub-flow>
</mule>
