src/main/mule/batch-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<flow name="api-main">
        <http:listener config-ref="batch-api-httpsListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
        <error-handler ref="batch-api-error-handler" />
    </flow>
    <flow name="api-console">
        <http:listener config-ref="batch-api-httpsListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation=" http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\healthcheck:api-config">
		<flow-ref doc:name="batch-api-util-get-healthcheck" doc:id="9b31a475-2518-4e69-819a-0c37ec348e76" name="batch-api-util-get-healthcheck" />
    </flow>
	<flow name="get:\failure:api-config">
        <os:retrieve-all doc:name="Retrieve all" doc:id="fe65f63a-2c4a-4f79-b468-49d1b8aba910" objectStore="Batch_Error_Object_store" />
        <set-payload value="#[output application/json --- payload]" doc:name="Set Payload" doc:id="3129bf3f-5eac-4017-8ce0-b5b226136f3d" />
    </flow>
    <flow name="get:\data:api-config">
        <logger level="INFO" message="get:\data:api-config" />
    </flow>
    <flow name="get:\batch\run:api-config">
        <logger level="INFO" message="get:\batch\run:api-config" />
    </flow>
	<flow name="get:\batch\status:api-config">
		<flow-ref doc:name="check-batch-status" doc:id="23e070c1-e36c-4ef9-8985-d101ab396934" name="check-batch-status" />
		<set-payload value="#[output application/json --- payload]" doc:name="/json" doc:id="4a78c002-204a-4676-9749-3659970e810e" />
    </flow>
	<flow name="delete:\batch\status:api-config">
        <logger level="INFO" message="delete:\batch\status:api-config" />
    </flow>
</mule>
